h1 {
  color: green;
}

/* flex container */
#parent {
  background-color: aquamarine;
  display: flex;
  /* horizontal alignment and placement */
  justify-content: center;
  /* vertical alignment and placement */
  align-items: center;
  min-height: 400px;
  gap: 20px;
}

/* flex items */
.child {
  background-color: coral;
  width: 200px;
  min-height: 200px;
}